body, html, #root{
  height: 100%;
  overflow-y: auto;
}

#root{
  margin:0px 12px;
}

.paperStyle{
  width: 30%;
}

@media only screen and (max-width:475px){
  .paperStyle{
    width: 100%;
  }
}

.font{
  font-size: 1rem;
}

.iconStyle{
    left:18px;
    bottom:10px;
    position:relative;
    float:right;
    cursor: pointer;
}

.floatStyle{
  float:right;
}